<%- include("partials/header") %>
<div class="hero">
    <img class="hero-img" src="/img/hero-img.png" alt="">
    <h1 class="title title-heading">Writing as usual.</h1>
    <h1 class="title title-heading">Publishing like never before.</h1>
</div>

<div class="popular-post-container">
    <h1 class="title sub-title">Popular Posts</h1>
    <article class="popular-post">
        <% posts.forEach(post => { %>
        <% if (post.popularPost) { %>
        <div class="post-container">
            <div class="column is-half">
                <h1 class="title is-3 popular-post-heading"><%= post.title %> </h1>
                <p><%= post.content.substring(0,100) + "...." %><a href="/post/<%= post.title %> ">Read More</a></p>
            </div>
            <img class="popular-post-img" src="<%= post.img %>" alt="">
        </div>
        <% } %>
        <% }) %>
    </article>
</div>

<div class="posts-container">
    <h1 class="title sub-title">All Blogs</h1>
    <article class="blog-posts">
        <% posts.forEach(post => { %>
        <div class="blog-posts-container">
            <figure class="blog-posts-img-container">
                <img class="blog-posts-img" src="<%= post.img %> " alt="">

            </figure>
            <div class="column">
                <h1 class="title is-5 popular-post-heading"><%= post.title %> </h1>
                <p><%= post.content.substring(0,100) + "...." %><a href="/post/<%= post.title %> ">Read More</a></p>
            </div>
        </div>
        <% }) %>

    </article>
</div>

<%- include("partials/footer") %>


<img src="" alt="">